<div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto shadow-3xl">

  <!-- Page header -->


  <div class="bg-white shadow-lg rounded-sm mb-8">
    <div class="flex flex-col md:flex-row md:-mr-px">
      <!-- Sidebar -->
        <%= render 'users/sidedashboard' %>
        
        <%= render "form", user: @user %>

    </div> 
  </div>      
</div>
