<h1>Editing driving course</h1>

<%= render "form", driving_course: @driving_course %>

<br>

<div>
  <%= link_to "Show this driving course", @driving_course %> |
  <%= link_to "Back to driving courses", driving_courses_path %>
</div>
