
<div class="m-20">
<div id="driving_courses" class="grid grid-cols-12 gap-6 space-x-2 md:space-x-8 ">
  <% @driving_courses.each do |driving_course| %>
      <%= render driving_course %>
  <% end %>
</div>
</div>



