<div class="header" style="background-image: url('legal_mentions.png')">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center text-2xl md:text-3xl text-slate-800 font-bold mb-1">Mentions Légales et politique de protection des données</h1>
            </div>
        </div>
    </div>

<div class="px-4 sm:px-6 lg:px-2 py-8 w-full">
  <h3>Veuillez lire avec attention les différentes modalités d’utilisation du site <u><a href="https://classic-racing-school.fly.dev/">www.classicracinggroup.com</a></u> avant de parcourir ses pages. En vous connectant sur ce site, vous acceptez sans réserve nos modalités.</h3>
  <br>
  <h2 class="text-xl leading-snug text-slate-800 font-bold mb-2">DÉFINITIONS</h1>
  <h2><strong>DÉFINITIONS </strong><strong></strong></h2>
      <p><strong>Client</strong>&nbsp;: Tout professionnel ou personnes physique capable au sens des <strong>articles 1123</strong>&nbsp;et suivants du Code Civil, ou personne morale, qui visite le site objet des présentes conditions générales.</p>
      <p><strong>Prestations et services</strong>&nbsp;: <u>www.classicracinggroup.com</u>&nbsp;met à disposition des Clients&nbsp;:</p>
      <p><strong>Contenu</strong>&nbsp;: Ensemble des éléments constituants l’information présente sur le site, notamment les textes – images – vidéos.</p>
      <p><strong>Informations clients</strong>&nbsp;: Ci-après dénommée(s) «&nbsp;Information(s)&nbsp;» qui correspondent à l’ensemble des données personnelles susceptibles d’être détenues par <u>www.classicracinggroup.com</u>&nbsp;pour la gestion de votre compte, la gestion de la relation client et à des fins d’analyses et de statistiques.</p>
      <p><strong>Utilisateur</strong>&nbsp;: Internaute se connectant, utilisant le site susnommé.</p>
      <p><strong>Informations personnelles</strong>&nbsp;: «&nbsp;Les informations qui permettent, sous quelque forme que ce soit, directement ou non, l’identification des personnes physiques auxquelles elles s’appliquent.&nbsp;» (<strong>Article 4, Loi n°78-17 du 6 janvier 1978</strong>).</p>
      <p>Les termes «&nbsp;données à caractère personnel&nbsp;», «&nbsp;personne concernée&nbsp;», «&nbsp;sous-traitant&nbsp;» et «&nbsp;données sensibles&nbsp;» ont le sens défini par le Règlement Général sur la Protection des Données (<strong>RGPD&nbsp;: n°2016-679</strong></p>
      <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
      <h2><strong>1. PRÉSENTATION DU SITE INTERNET</strong></h2>
      <p>En vertu de l’Article 6, Loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisateurs du site internet <u>www.classicracinggroup.com</u>&nbsp;l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
      <p><strong><br></strong><strong>L’ÉDITEUR DU SITE&nbsp;:</strong></p>
      <p><strong>Raison sociale</strong>&nbsp;: Classic Racing Group<br><strong>Enseignes</strong>&nbsp;: Classic Racing School / Classic Racing Garage / Classic Racing Club<br><strong>Adresse siège social</strong>&nbsp;: Classic Racing Group, Circuit de Charade, 63122 Saint-Genès-Champanelle, FRANCE<br><strong>SIRET</strong>&nbsp;: 822 791 836&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>SIREN</strong>&nbsp;:&nbsp;822 791 836 00015<br><strong>Statut juridique et social</strong>&nbsp;: Société par actions simplifiées (SAS)<br><strong>Code APE/NAF</strong>&nbsp;: 8551 Z<br><strong>TVA intra-communautaire</strong>&nbsp;: FR 30 822 791 836<br><strong>Locaux commerciaux&nbsp;/ bureau</strong>&nbsp;: Classic Racing Group, 1 rue Pierre et Marie Curie, 63200 Riom, FRANCE<br><strong>Tel</strong>&nbsp;:06.09.54.49.89<br><strong>Email</strong>&nbsp;:&nbsp;<ahref="mailto:contact@classicracingschool.com"><u>contact@classicracingschool.com</u><br></a><strong>Site internet</strong>&nbsp;:&nbsp;<a href="https://www.classicracinggroup.com/"><u>www.classicracinggroup.com</u></a></p>
      <p><br><strong>L’HÉBERGEMENT EST PROPOSÉ PAR&nbsp;:</strong><strong></strong></p>
      <p>OVH<br>SAS au capital de 10 069 020 €<br>RCS Lille Métropole 424 761 419 00045<br><strong>Code APE</strong>&nbsp;: 2620Z<br><strong>N° TVA</strong>&nbsp;: FR 22 424 761&nbsp;419<br><strong>Siège Social</strong>&nbsp;: 2 rue Kellermann, 59100 Roubaix<br><strong>Site internet</strong>&nbsp;:&nbsp;<a href="http://www.ovh.com/" target="_blank" rel="noopener"><u>www.ovh.com</u></a></p>
      <p><br><strong>R<strong><strong>É</strong></strong>F<strong><strong>É</strong></strong>RENCEMENT OPTIMIS<strong>É</strong> PAR :</strong></p>
      <p>ALPHASEO</p>
      <p><strong>Site internet</strong>&nbsp;:&nbsp;<a href="https://www.alphaseo.fr" target="_blank"rel="noopener"><u>www.alphaseo.fr</u></a></p>
      <p><br><strong>POUR TOUT CONTACT ADMINISTRATIF&nbsp;:</strong><strong></strong></p>
      <p>Classic Racing Group, 1 rue Pierre et Marie Curie, 63200 Riom, FRANCE<br><strong>Tel</strong>&nbsp;: 06.09.54.49.89<br><strong>Email</strong>&nbsp;:&nbsp;<a href="mailto:contact@classicracinggroup.com"><u>contact@classicracinggroup.com</u></a></p>
      <p><strong><br></strong><strong>POUR LES PHOTOS&nbsp;ET ILLUSTRATIONS&nbsp;:</strong><strong></strong></p>
      <p>Crédit Benjamin Fournier / Thomas Cortesi / Joris Clerc / Classic Racing Group.&nbsp;</p>
      <p>&nbsp;Tous droits réservés.</p>
      <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
      <h2><strong>2.CONDITIONS GÉNÉRALES D’UTILISATION DU SITE ET DES SERVICES PROPOSÉS</strong></h2>
      <p>Le site constitue une œuvre de l’esprit protégée par les dispositions du Code de la Propriété Intellectuelle et des Réglementations Internationales applicables. Le client ne peut en aucune manière réutiliser, céder ou exploiter pour son propre compte tout ou partie des éléments ou travaux du site.</p>
      <p>L’utilisation du site <u>www.classicracinggroup.com</u>&nbsp;implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment. Les utilisateurs du site <u>www.classicracinggroup.com</u>&nbsp;sont donc invités à les consulter de manière régulière.</p>
      <p>Ce site internet est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par <u>www.classicracinggroup.com</u>, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention. Le site internet <u>www.classicracinggroup.com</u> est mis à jour régulièrement par Classic Racing group responsable. De la même façon, les mentions légales peuvent être modifiées à tout moment&nbsp;: elles s’imposent néanmoins à
        l’utilisateurs qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.
      </p>



      <p><strong><br></strong><strong>CONDITIONS D’UTILISATIONS&nbsp;: </strong><strong></strong></p>



      <p>La société Classic Racing Group SAS met en œuvre tous les moyens dont elle dispose, pour assurer une
        information fiable et une mise à jour du site internet. Il est néanmoins possible que des omissions ou des
        erreurs soient commises. Il incombe à l’internaute de s’assurer de la véracité des informations fournies et nous
        restons à sa disposition pour toute demande de modification pertinente dont il juge utile de nous informer.</p>



      <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>



      <h2><strong>3.DESCRIPTION DES SERVICES FOURNIS </strong></h2>



      <p>Le site internet <u>www.classicracinggroup.com</u>&nbsp;a pour objet de fournir une information concernant
        l’ensemble des activités de la société. Classic Racing Group s’efforce de fournir sur le site
        <u>www.classicracinggroup.com</u>&nbsp;des informations aussi précises que possible. Toutefois, il ne pourra
        être tenu responsable des oublis, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son
        fait ou du fait des tiers partenaires qui lui fournissent les informations.
      </p>



      <p>Toutefois les informations indiquées sur le site <u>www.classicracinggroup.com</u>&nbsp;sont des données à
        titre indicatif et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site
        <u>www.classicracinggroup.com</u>&nbsp;ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications
        ayant été apportées depuis leur mise en ligne.
      </p>



      <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>



      <h2><strong>4.LIMITATIONS CONTRACTUELLES SUR LES DONNÉES TECHNIQUES </strong></h2>



      <p>Le site utilise la technologie JavaScript. Le site internet ne pourra être tenu responsable de dommages
        matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant
        un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour. Le site
        <u>www.classicracinggroup.com</u>&nbsp;est hébergé chez un prestataire sur le territoire de l’Union Européenne
        conformément aux dispositions du Règlement Général sur la Protection des Données (<strong>RGPD&nbsp;:
          n°2016-679</strong>).
      </p>



      <p>L’objectif est d’apporter une prestation qui assure le meilleur taux d’accessibilité.</p>



      <p>L’hébergeur, OVH, assure la continuité de son service 24H/24, tous les jours de l’année. Néanmoins, il se
        réserve la possibilité d’interrompre le service d’hébergement pour les durées les plus courtes possibles,
        notamment à des fins de maintenance, d’amélioration de ses infrastructures, de défaillance de ses
        infrastructures ou si les prestations et services génèrent un trafic réputé anormal.</p>



      <p>Classic Racing Group et l’hébergeur ne pourront être tenus responsables en cas de dysfonctionnement du réseau
        internet, des lignes téléphoniques ou du matériel informatique et de téléphonie liée notamment à l’encombrement
        du réseau empêchant l’accès au serveur.</p>



      <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>



      <h2><strong>5.PROPRIÉTÉ INTELLECTUELLE ET CONTREFAÇONS </strong></h2>



      <p>L’ensemble du contenu et la mise en forme du site internet <u>www.classicracinggroup.com</u>&nbsp;(graphismes,
        images, textes, vidéos, animations, sons, logos, GIFS, et icones) sont sans limitation la propriété exclusive de
        la société Classic Racing Group à l’exception des marques, logos ou contenus appartenant à d’autres sociétés
        partenaires ou autres. Toute reproduction, représentation, modification, publication, adaptation de tout ou
        partie des éléments du site <u>www.classicracinggroup.com</u>, quel que soit le moyen ou le procédé utilisé est
        interdite, sauf autorisation écrite au préalable de&nbsp;: <u>www.classicracinggroup.com</u>. Seule une
        autorisation de visualisation et lecture du contenu à titre personnel et privé est autorisé sans une demande
        préalable.</p>



      <p>Selon le code de la propriété intellectuelle, il est formellement interdit de reproduire, modifier, adapter,
        retransmettre, imprimer ou publier les éléments évoqués plus haut sans l’accord préalable de l’éditeur. Tout
        manquement à cette formalité constitue une contrefaçon qui est sanctionnée par les articles
        <strong>L.335-2</strong>&nbsp;et le code de la propriété intellectuelle, pouvant engager la responsabilité
        civile et pénale du mis en cause.
      </p>



      <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>



      <h2><strong>6.LIMITATIONS DE RESPONSABILITÉ </strong></h2>



      <p>Classic Racing Group agit en tant qu’éditeur du site. Classic Racing Group est responsable de la qualité et de
        la véracité du continue qu’il publie sur le site <u>www.classicracinggroup.com</u>. Classic Racing Group ne
        pourra être tenu responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de
        l’accès au site internet&nbsp;: <u>www.classicracinggroup.com</u>&nbsp;et résultant soit de l’utilisation d’un
        matériel ne répondant aux spécifications indiquées au paragraphe 4, soit de l’apparition d’un bug ou d’une
        incompatibilité.</p>



      <p>Classic Racing Group ne pourra également être tenu responsable des dommages indirects (tels par exemple qu’une
        perte de marché ou perte de chance) consécutifs à l’utilisation du site <u>www.classicracinggroup.com</u>. Des
        espaces interactifs (possibilité de poser des questions dans l’espace contact) sont à la disposition des
        utilisateurs. Classic Racing Group se réserve le droit de supprimer, sans mise en demeure préalable, tout
        contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux
        dispositions relatives à la protection des données. Le cas échéant, Classic Racing Group se réserve également la
        possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de
        messages à caractère raciste, injurieux, diffamant ou pornographique, quel que soit le support utilisé (texte,
        photographie, …).</p>



      <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>



      <h2>7.<strong>GESTION DES DONNÉES PERSONNELLES </strong></h2>



      <p>Le client est informé des réglementations concernant la communication marketing, la <strong>Loi du 21 juin
          2014</strong>&nbsp;pour la confiance dans l’Économie Numérique, la <strong>Loi information et Liberté du 06
          août 2005</strong>&nbsp;ainsi que du Règlement Général sur la Protection des Données (<strong>RGPD&nbsp;:
          n°2016-679</strong>).</p>



      <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>



      <h2><strong>7.1.RESPONSABLES DE LA COLLECTE DES DONNÉES PERSONNELLES </strong></h2>



      <p>Pour les Données Personnelles collectées dans le cadre de la création du compte personnel de l’utilisateur et
        de sa navigation sur le site <u>www.classicracinggroup.com</u>, le responsable du traitement des Données
        Personnelles est&nbsp;: CLASSIC RACING GROUP. Ces données personnelles sont collectées lorsque
        l’internaute&nbsp;:</p>



      <ul>
        <li>Navigue sur le site internet&nbsp;<u>www.classicracinggroup.com</u>&nbsp;</li>



        <li>S’inscrit à des évènements organisés par Classic Racing Group afin de gérer les inscriptions</li>



        <li>S’inscrit à la newsletter du Classic Racing Group afin d’envoyer cette dernière à l’internaute</li>
      </ul>



      <p><u>www.classicracinggroup.com</u>&nbsp;est représenté par Classic Racing Group. En tant que responsable du
        traitement des données collectées, Classic Racing Group s’engage à respecter le cadre des dispositions légales
        en vigueur. Il lui appartient notamment, au client, d’établir les finalités de ses traitements de données, de
        fournir à ses prospects et clients, à partir de la collecte de leurs consentements, une information complète sur
        le traitement de leurs données personnelles et de maintenir un registre des traitements conforme à la réalité.
      </p>



      <p>Chaque fois que Classic Racing Group traite des Données Personnelles, Classic Racing Group prend toutes les
        mesures raisonnables pour s’assurer de l’exactitude et de la pertinence des Données Personnelles au regard des
        finalités pour lesquelles Classic Racing Group les traite.</p>



      <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>



      <h2><strong>7.2.FINALITÉ DES DONNÉES COLLECTÉES </strong></h2>



      <p>Classic Racing Group est susceptible de traiter tout ou partie des données&nbsp;:</p>



      <ul>
        <li>Pour permettre la navigation sur le site <u>www.classicracinggroup.com</u>&nbsp;et la gestion de la
          traçabilité des prestations et services commandés par l’utilisateur&nbsp;: données de connexion et
          d’utilisation du site <u>www.classicracinggroup.com</u>, facturation, historique des commandes, etc.</li>



        <li>Pour prévenir et lutter contre la fraude informatique (spamming, hacking, etc.)&nbsp;: matériel informatique
          utilisé pour la navigation, l’adresse IP.</li>



        <li>Pour améliorer la navigation sur le site <u>www.classicracinggroup.com</u>&nbsp;: données de connexion et
          d’utilisation</li>



        <li>Pour mener des enquêtes de satisfaction facultatives sur <u>www.classicracinggroup.com</u>&nbsp;: adresse
          email</li>



        <li>Pour mener des campagnes de communications (email, SMS)&nbsp;: adresse email, numéro de téléphone</li>
      </ul>



      <p>Classic Racing Group ne commercialise par vos données personnelles qui sont donc uniquement utilisées, pour la
        durée nécessaire, par nécessité ou à des fins statistiques et d’analyses.</p>



      <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>



      <h2><strong>7.3. DROIT D’ACCÈS, DE RECTIFICATION ET D’OPPOSITION </strong></h2>



      <p>Conformément à la réglementation européenne en vigueur, les utilisateurs de
        <u>www.classicracinggroup.com</u>&nbsp;disposent des droits suivants&nbsp;:
      </p>



      <ul>
        <li>Droit d’accès (<strong>Article 15 – RGPD</strong>) et de rectification (<strong>Article 16 – RGPD</strong>),
          de mise à jour, de complétude des données des utilisateurs, droit de verrouillage ou d’effacement des données
          des utilisateurs à caractère personnel (<strong>Article 17 – RGPD</strong>), lorsqu’elles sont inexactes,
          incomplètes, équivoques, périmées, ou dont la collecte, l’utilisation, la communication ou la conservation est
          interdite</li>



        <li>Droit de retirer à tout moment un consentement (<strong>Article 13-2c – RGPD</strong>)</li>



        <li>Droit à la limitation du traitement des données des utilisateurs (<strong>Article 18 – RGPD</strong>)</li>



        <li>Droit d’opposition au traitement des données des utilisateurs (<strong>Article 21 – RGPD</strong>)</li>



        <li>Droit à la portabilité des données que les utilisateurs auront fournies, lorsque ces données font l’objet de
          traitements automatisés fondés sur leur consentement ou sur un contrat (<strong>Article 20 – RGPD</strong>)
        </li>



        <li>Droit de définir le sort des données des utilisateurs après leur mort et de choisir à qui Classic Racing
          Group devra communiquer (ou non) ses données à un tiers qu’il aura préalablement désigné</li>
      </ul>



      <p>Dès que Classic Racing Group a connaissance du décès d’un utilisateur et à défaut d’instructions de sa part,
        Classic Racing Group s’engage à détruire ses données, sauf si leur conservation s’avère nécessaire à des fins
        probatoires ou pour répondre à une obligation légale.</p>



      <p>Si l’utilisateur souhaite savoir comment Classic Racing Group utilise ses Données Personnelles, demander à les
        rectifier ou s’oppose à leur traitement, l’utilisateur peut contacter Classic Racing Group par écrit à l’adresse
        suivante&nbsp;:</p>



      <p><strong>CLASSIC RACING GROUP – 1 rue Pierre et Marie Curie, 63200 Riom, France </strong><strong></strong></p>



      <p>Dans ce cas, l’utilisateur doit indiquer les Données Personnelles qu’il souhaiterait que Classic Racing Group
        corrige, mette à jour ou supprime, en s’identifiant précisément avec une copie d’une pièce d’identité (carte
        d’identité ou passeport). Les demandes de suppression des Données Personnelles seront soumises aux obligations
        qui sont imposées à Classic Racing Group par la loi, notamment en matière de conservation ou d’archivage des
        documents.</p>



      <p>Enfin, les utilisateurs de <u>www.classicracinggroup.com</u>&nbsp;peuvent déposer une réclamation auprès des
        autorités de contrôles et notamment de la CNIL (<a href="https://www.cnil.fr/fr/plaintes" target="_blank"
          rel="noopener"><u>https://www.cnil.fr/fr/plaintes</u></a>).</p>



      <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>



      <h2><strong>7.4.NON-COMMUNICATION DES DONNÉES PERSONNELLES </strong></h2>



      <p>Classic Racing Group s’interdit de traiter, héberger ou transférer les informations collectées sur ses clients
        vers un pays situé en dehors de l’Union Européenne ou reconnu comme «&nbsp;non adéquat&nbsp;» par la Commission
        Européenne sans en informer au préalable le client. Pour autant, Classic Racing Group reste libre du choix de
        ses sous-traitants techniques et commerciaux à la condition qu’ils présentent les garanties suffisantes au
        regard des exigences du Règlement Général sur la Protection des Données (<strong>RGPD&nbsp;:
          n°2016-679</strong>).</p>



      <p>Classic Racing Group s’engage à prendre toutes les précautions nécessaires afin de préserver la sécurité des
        informations et notamment qu’elles ne soient pas communiquées à des personnes non autorisées. Cependant, si un
        incident impactant l’intégrité ou la confidentialité des informations du client est portée à la connaissance de
        Classic Racing Group, celle-ci devra dans les meilleurs délais informer le client et lui communiquer les mesures
        de corrections prises. Par ailleurs, <u>www.classicracinggroup.com</u>&nbsp;ne collecte aucune «&nbsp;données
        sensibles&nbsp;».</p>



      <p>Les Données Personnelles de l’utilisateur peuvent être traitées par des filiales de
        <u>www.classicracinggroup.com</u>&nbsp;et des sous-traitants (prestataires de services), exclusivement afin de
        réaliser les finalités de la présente politique.
      </p>



      <p>Dans la limite de leurs attributions respectives et pour les finalités rappelées ci-dessus, les principales
        personnes susceptibles d’avoir accès aux données des utilisateurs de <u>www.classicracinggroup.com</u>&nbsp;sont
        principalement les agents de notre service client.</p>



      <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>



      <h2><strong>8.NOTIFICATION D’INCIDENT </strong></h2>



      <p>Quels que soient les efforts fournis, aucune méthode de transmission sur internet et aucune méthode de stockage
        électronique n’est complètement sûre. Classic Racing Group ne peut en conséquence pas garantir une sécurité
        absolue. Si Classic Racing Group prenais connaissances d’une brèche de la sécurité, Classic Racing Group
        avertirai les utilisateurs concernés afin qu’ils puissent prendre les mesures appropriées. Les procédures de
        notification d’incident tiennent compte des obligations légales, qu’elles se situent au niveau national ou
        européen.</p>



      <p>Classic Racing Group s’engage à informer pleinement ses clients de toutes les questions relevant de la sécurité
        de leur compte et à leur fournir toutes les informations nécessaires pour les aider à respecter leurs propres
        obligations réglementaires en matière de reporting.</p>



      <p>Aucune information personnelle de l’utilisateur du site <u>www.classicracinggroup.com</u>&nbsp;n’est publiée à
        l’insu de l’utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule
        l’hypothèse du rachat de <u>www.classicracinggroup.com</u>&nbsp;et de ses droits permettrait la transmission des
        dites informations à l’éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de
        modification des données vis-à-vis de l’utilisateur du site <u>www.classicracinggroup.com</u>.</p>



      <p><strong>SÉCURITÉ </strong><strong></strong></p>



      <p>Pour assurer la sécurité et la confidentialité des Données Personnelles et des Données Personnelles de Santé,
        <u>www.classicracinggroup.com</u>&nbsp;utilise des réseaux protégés par des dispositifs standards tels que
        pare-feu, pseudonymisation, encryptions et mot de passe.
      </p>



      <p>Lors du traitement des Données Personnelles, Classic Racing Group prend toutes les mesures raisonnables visant
        à les protéger contre toute perte, utilisation détournée, accès non autorisé, divulgation, altération ou
        destruction.</p>



      <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>



      <h2><strong>9.LIENS HYPERTEXTES «&nbsp;COOKIES&nbsp;» ET BALISES («&nbsp;TAGS&nbsp;») INTERNET</strong></h2>



      <p>Le site <u>www.classicracinggroup.com</u>&nbsp;contient un certain nombre de liens hypertextes vers d’autres
        sites, mis en place avec l’autorisation de Classic Racing Group. Cependant, Classic Racing Group n’a pas la
        possibilité de vérifier le contenu des sites ainsi visités, et n’assumera en conséquence aucune responsabilité
        de ce fait.</p>



      <p>Sauf si vous décidez de désactiver les cookies, vous acceptez que le site puisse les utiliser. Vous pouvez à
        tout moment désactiver ces cookies et ce gratuitement à partir des possibilités de désactivation qui vous sont
        offertes et rappelées ci-après, sachant que cela peut réduire ou empêcher l’accessibilité à tout ou partie des
        services proposés par le site.</p>



      <p><strong><br></strong><strong>COOKIES</strong><strong>&nbsp;</strong><strong></strong></p>



      <p>Un «&nbsp;cookie&nbsp;» est un petit fichier d’information envoyé sur le navigateur de l’utilisateur et
        enregistré au sein du terminal de l’utilisateur (EX&nbsp;: ordinateur, smartphone, tablette). Ce fichier
        comprend des informations telles que le nom de domaine de l’utilisateur, le fournisseur d’accès internet de
        l’utilisateur, le système d’exploitation de l’utilisateur, ainsi que la date et l’heure d’accès. Les cookies ne
        risquent en aucun cas d’endommager le terminal de l’utilisateur.</p>



      <p><u>www.classicracinggroup.com</u>&nbsp;est susceptible de traiter les informations de l’utilisateur concernant
        sa visite du site, telles que les pages consultées, les recherches effectuées. Ces informations permettent à
        Classic Racing Group d’améliorer le site <u>www.classicracinggroup.com</u>, de la navigation de l’utilisateur.
      </p>



      <p>Les cookies facilitant la navigation et/ou la fourniture des services proposés par le site
        <u>www.classicracinggroup.com</u>, l’utilisateur peut configurer son navigateur pour qu’il lui permette de
        décider s’il souhaite ou non les accepter de manière à ce que des cookies soient enregistrés dans le terminal
        ou, au contraire, qu’ils soient rejetés, soit systématiquement, soit selon leur émetteur. L’utilisateur peut
        également configurer son logiciel de navigation de manière à ce que l’acceptation ou le refus des cookies lui
        soient proposés ponctuellement, avant qu’un cookie soit susceptible d’être enregistré dans son terminal.
        <u>www.classicracinggroup.com</u>&nbsp;informe l’utilisateur que, dans ce cas, il se peut que les
        fonctionnalités de son logiciel de navigation ne soient pas toutes disponibles.
      </p>



      <p>Si l’utilisateur refuse l’enregistrement de cookies dans son terminal ou son navigateur, ou si l’utilisateur
        supprime ceux qui y sont enregistrés, l’utilisateur est informé que sa navigation et son expérience sur le site
        <u>www.classicracinggroup.com</u>&nbsp;peuvent être limitées. Cela pourrait également être le cas lorsque
        <u>www.classicracinggroup.com</u>&nbsp;ou l’un de ses prestataires ne peut pas reconnaître, à des fins de
        compatibilité technique, le type de navigateur utilisé par le terminal, les paramètres de langue et d’affichage
        ou le pays depuis lequel le terminal semble connecté à internet.
      </p>



      <p>Le cas échéant, Classic Racing Group décline toute responsabilité pour les conséquences liées au fonctionnement
        dégradé du site et des services éventuellement proposés par <u>www.classicracinggroup.com</u>, résultant
        <strong>(I)</strong>&nbsp;du refus de cookies par l’utilisateur, <strong>(II)</strong>&nbsp;de l’impossibilité
        pour <u>www.classicracinggroup.com</u>&nbsp;d’enregistrer ou de consulter les cookies nécessaires à leur
        fonctionnement du fait du choix de l’utilisateur.
      </p>



      <p>Pour la gestion des cookies et des choix de l’utilisateur, la configuration de chaque navigateur est
        différente. Elle est décrite dans le menu d’aide du navigateur, qui permettra de savoir de quelle manière
        l’utilisateur peut modifier ses souhaits en matière de cookies.</p>



      <p>À tout moment, l’utilisateur peut faire le choix d’exprimer et de modifier ses souhaits en matière de cookies.
        Classic Racing Group pourra en outre faire appel aux services de prestataires externes pour l’aider à recueillir
        et traiter les informations décrites dans cette section.</p>



      <p>Enfin, en cliquant sur les icônes dédiées aux réseaux sociaux Facebook et Instagram figurant sur le site
        <u>www.classicracinggroup.com</u>&nbsp;et si l’utilisateur a accepté le dépôt de cookies en poursuivant sa
        navigation sur le site internet <u>www.classicracinggroup.com</u>, Facebook et Instagram peuvent également
        déposer des cookies sur vos terminaux (ordinateur, tablette, téléphone portable). Ces types de cookies ne sont
        déposés sur vos terminaux qu’à condition que vous y consentiez, en continuant votre navigation sur le site
        <u>www.classicracinggroup.com</u>. À tout moment, l’utilisateur peut néanmoins revenir sur son consentement à ce
        que <u>www.classicracinggroup.com</u>&nbsp;dépose ce type de cookies.
      </p>



      <p><strong>BALISES («&nbsp;TAGS&nbsp;») INTERNET </strong><strong></strong></p>



      <p><u>www.classicracinggroup.com</u>&nbsp;peut employer occasionnellement des balises internet (également appelées
        «&nbsp;tags&nbsp;» ou balises d’action, GIF à un pixel, GIF transparents, GIF invisibles et GIF un à un) et les
        déployer par l’intermédiaire d’un partenaire spécialiste d’analyse web susceptible de se trouver (et donc de
        stocker les informations correspondantes, y compris l’adresse IP de l’utilisateur) dans un pays étranger.</p>



      <p>Ces balises sont placées à la fois dans les publicités en ligne permettant aux internautes d’accéder au site
        <u>www.classicracinggroup.com</u>&nbsp;et sur les différentes pages de celui-ci.
      </p>



      <p>Cette technologie permet à Classic Racing Group d’évaluer les réponses des visiteurs face au site
        <u>www.classicracinggroup.com</u>&nbsp;et l’efficacité de ses actions (par exemple, le nombre de fois où une
        page est ouverte et les informations consultées), ainsi que l’utilisation du site
        <u>www.classicracinggroup.com</u>&nbsp;par l’utilisateur.
      </p>



      <p>Le prestataire externe pourra éventuellement recueillir des informations sur les visiteurs du site
        <u>www.classicracinggroup.com</u>&nbsp;et d’autres sites internet grâce à ces balises, constituer des rapports
        sur l’activité du site <u>www.classicracinggroup.com</u>&nbsp;à l’attention de Classic Racing Group et fournir
        d’autres services relatifs à l’utilisation de celui-ci et d’internet.
      </p>



      <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>



      <h2><strong>10.DROIT APPLICABLE ET ATTRIBUTION DE JURIDICTION </strong></h2>



      <p>Tout litige en relation avec l’utilisation du site <u>www.classicracinggroup.com</u>&nbsp;est soumis au droit
        français. En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux
        tribunaux compétents de&nbsp;CLERMONT-FERRAND.</p>
    </div>